
<header class="masthead d-flex align-items-center">

    <div class="container px-4 px-lg-5 text-center">
        <h1  class="mb-1">Conmutación y Enrutamiento en Redes de
            Datos. 
            </h1>

        

        

    </div>
</header>
