        
        <!-- Inicio-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>TEMARIO</h2>
                        <p class="lead mb-5">
                            La importancia de esta asignatura radica en la necesidad que tienen las empresas de optimizar sus
procesos con el adecuado aprovechamiento de las tecnologías de la información, redes de datos, así
como la infraestructura que soporta dichas tecnologías. 

                        </p>
                        <a class="btn btn-dark btn-xl" href="http://www.itcg.edu.mx/pdf/ISIC/7/Conmutacion%20y%20Enrutamiento%20en%20Redes%20de%20Datos.pdf">Ir</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Integrantes-->
        <section class="content-section bg-primary text-white text-center" id="services">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading">
                    <h2 class="mb-5">Integrantes</h2>
                </div>
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
                        <h4><strong>Monserrat Arce</strong></h4>
                        
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
                        <h4><strong>Jorge Aragon</strong></h4>
                        
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
                        <h4><strong>Marco Uriel</strong></h4>
                        
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-mustache"></i></span>
                        <h4><strong>Jonas Diego</strong></h4>
                        
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Portfolio-->
        <section class="content-section" id="portfolio">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0">Portfolio</h3>
                    <h2 class="mb-5">Reportes</h2>
                </div>
                <div class="row gx-0">
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://drive.google.com/file/d/1VtDfg-nn4_eMIa7wVzfCKwyHVdwXbqN7/view?usp=sharing">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">SSH</div>
                                    <p class="mb-0">Es un protocolo que facilita las comunicaciones seguras entre dos sistemas usando una arquitectura cliente/servidor y que permite a los usuarios conectarse a un host remotamente.</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="../../../assets/assets/img/SSH.jpg" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://drive.google.com/file/d/1EK8p2XiawVM_k2WM3llJG1v_lTtNYeuj/view?usp=sharing">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">NTP</div>
                                    <p class="mb-0">Se usa para sincronizar la hora de los Clientes instalados en los PC y en los Servidores, tomando como referencia otro Servidor o fuente de tiempo (como puede ser un receptor de satélite).</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="../../../assets/assets/img/NTP.png" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://drive.google.com/file/d/1pzpXaleWq86l3r2b75QSQ_zGuTozPRGx/view?usp=sharing">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">DNS</div>
                                    <p class="mb-0">Sistema de nomenclatura jerárquico descentralizado para dispositivos conectados a redes IP como Internet o una red privada.</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="../../../assets/assets/img/dns.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://drive.google.com/file/d/1sE2zqCyJWRqlEja9i44YwsZghvVeOOxh/view?usp=sharing">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">DHCP</div>
                                    <p class="mb-0">Es un protocolo cliente/servidor que proporciona automáticamente un host de Protocolo de Internet (IP) con su dirección IP y otra información de configuración relacionada.</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="../../../assets/assets/img/Definición-de-DHCP.jpg" alt="..." />
                        </a>
                    </div>

                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://drive.google.com/file/d/1VrO5L6pTP_EKp5ogAmB5gBW1CFeiTa5N/view?usp=sharing">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Squid</div>
                                    <p class="mb-0">Squid es un proxy en caché completo que admite protocolos de red populares como HTTP, HTTPS, FTP y otros. Se puede utilizar para mejorar el rendimiento del servidor web almacenando en caché las solicitudes repetidas, filtrando el tráfico web y accediendo a contenido restringido geográficamente.</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="../../../assets/assets/img/Squid.jpg" alt="" />
                        </a>
                    </div>

                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://drive.google.com/file/d/1oV0Vg9w3kiGtsYokRtR7dAxuZD5sGr6S/view?usp=sharing">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">MySQL</div>
                                    <p class="mb-0">Es un protocolo que facilita las comunicaciones seguras entre dos sistemas usando una arquitectura cliente/servidor y que permite a los usuarios conectarse a un host remotamente.</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="../../../assets/assets/img/mysqldebian.jpg" alt="" />
                        </a>
                    </div>

                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://drive.google.com/drive/folders/15y7INcysToEmIJI97gSW7DulFpUN2oJB?usp=sharing">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Extra</div>
                                    <p class="mb-0">Es un protocolo que facilita las comunicaciones seguras entre dos sistemas usando una arquitectura cliente/servidor y que permite a los usuarios conectarse a un host remotamente.</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="../../../assets/assets/img/Debian-8-Jessie.png" alt="" />
                        </a>
                    </div>

                    <div class="col-lg-6">
                        <a class="portfolio-item" href="https://drive.google.com/drive/folders/1toeTDQI6FXlkMKWGoK4UTogVTfcYXxpb?usp=sharing">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Examenes</div>
                                    <p class="mb-0">Evaluaciones realizadas durante el semestre</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="../../../assets/assets/img/examen.png" alt="" />
                        </a>
                    </div>



                </div>
            </div>
        </section>
        <!-- Servidor-->
        <section class="content-section bg-primary text-white" id="referencias">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Servidor Jessie</h2>
                
                <a class="btn btn-xl btn-dark" href="https://servidordebian.org/es/jessie/start">Servidor Debian</a>
            </div>
        </section>
